/* FONT PATH
 * -------------------------- */

@font-face {
  font-family: 'RPGAwesome';
  src: url('#{$ra-font-path}/rpgawesome-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
